{{define "application"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <style type="text/css">

      body {
        background: #333333;
      }

      .card {
        width: 360px;
        padding: 7rem 0 0;
        margin: auto;
      }

      .card-body {
        position: relative;
        background: #FFFFFF;
        margin: 0 auto 100px;
        padding: 45px;
      }

      .card-body h4 {
        margin: 0px 0px 10px 0px;
      }

      .card-body input {
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
        outline: 0;
      }

      .card-body input[type="submit"] {
        background: #4CAF50;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        text-transform: uppercase;
        cursor: pointer;
      }

      .card-body input[type="submit"]:hover,
      .card-body input[type="submit"]:active,
      .card-body input[type="submit"]:focus {
        background: #43A047;
      }

      .card-body .message {
        margin: 15px 0 0;
        color: #4a4a4a;
        font-size: 14px;
      }

      .card-body .message a {
        color: #307433;
        text-decoration: none;
      }

      .form-error {
        font-size: 14px;
        padding: 10px 0px;
      }
      .form-error h5 {
        margin-bottom: 10px;
        color: #b10e0e;
        font-size: 14px;
      }
      .form-error div {
        color: #b10e0e;
      }

      .profile .card-body {
        padding: 15px;
      }

      .title {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .subtext {
        line-height: 0.5;
        font-size: 13px;
        color: #444444;
      }

      .google-btn {
        width: 184px;
        height: 42px;
        background-color: #4285f4;
        border-radius: 2px;
        box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
      }
      .google-btn:hover {
        box-shadow: 0 0 6px #4285f4;
      }
      .google-btn:active {
        background: #1669F2;
      }
      .google-icon-wrapper {
        position: absolute;
        margin-top: 1px;
        margin-left: 1px;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        background-color: #fff;
      }
      .google-icon {
        position: absolute;
        margin-top: 11px;
        margin-left: 11px;
        width: 18px;
        height: 18px;
      }
      .btn-text {
        float: right;
        margin: 11px 11px 0 0;
        color: $white;
        font-size: 14px;
        letter-spacing: 0.2px;
        font-family: "Roboto";
      }
      .button-group {
        margin-top: 25px;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
      }
      .btn-primary {
        background: #4CAF50;
        color: #FFFFFF;
        padding: 10px;
      }

      .btn-secondary {
        background: #FFFFFF;
        color: #4CAF50;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    {{template "main" .}}
  </body>
</html>
{{end}}
