{{template "application" .}}

{{define "main"}}
  <main class="edit-profile">
    <div class="card">
      <div class="card-body">
        <h4>Profile</h4>

        <form action="/profile/edit" method="POST">
          {{if .Error}}
            <div class="form-error">
              <div>{{.Error}}</div>
            </div>
          {{end}}

          <div class="form-group">
            <label for="email">Email: </label>
            <input type="email" name="email" value="{{.Email}}" id="email"/>
          </div>
          <div class="form-group">
            <label for="name">Name: </label>
            <input type="text" name="name" value="{{.Name}}" id="name"/>
          </div>
          <div class="form-group">
            <label for="address">Address: </label>
            <input type="text" name="address" value="{{.Address}}" id="address"/>
          </div>
          <div class="form-group">
            <label for="address">Telephone: </label>
            <input type="text" name="telephone" value="{{.Telephone}}" id="telephone"/>
          </div>
          <input type="submit" value="Save & Continue">
          <a href="/">Cancel</a>
        </form>
      </div>
  </main>
{{end}}
