{{template "application" .}}

{{define "main"}}
  <main class="signin">
    <div class="card">
      <div class="card-body">
        <h4>Request New Password:</h4>
        <form action="/forget-password" method="POST">
          {{if .Error}}
            <div class="form-error">
              <div>{{.Error}}</div>
            </div>
          {{end}}

          <input type="email" name="email" id="email" placeholder="Email" />

          <input type="submit" value="Request Password Change">
          <a href="/signin">Login</a>
        </form>
      </div>
    </div>
  </main>
{{end}}
