{{template "application" .}}

{{define "main"}}
  <main class="profile">
    <div class="profile card">
      <div class="card-body">
        <h4 class="title" align="center">{{.Email}}</h4>
        <p class="subtext" align="center">{{.Name}}</p>
        <p class="subtext" align="center">{{.Address}}</p>
        <p class="subtext" align="center">{{.Telephone}}</p>
        <div class="button-group">
          <a class="btn-primary" href="/profile/edit">Edit Profile</a>
          <a class="btn-secondary"  href="/signout">Sign Out</a></div>
        </div>
      </div>
    </div>
  </main>
{{end}}
