{{template "application" .}}

{{define "main"}}
  <main class="reset-password">
    <div class="card">
      <div class="card-body">
        <h4>Change Your Password:</h4>
        <form action="/reset-password" method="POST">
          {{if .Error}}
            <div class="form-error">
              <div>{{.Error}}</div>
            </div>
          {{end}}

          <input type="password" name="password" id="password" placeholder="New Password" />
          <input type="hidden" name="reset_password_token" value="{{.Token}}"/>

          <input type="submit" value="Change my password">
          <a href="/signin">Login</a>
        </form>
      </div>
    </div>
  </main>
{{end}}
