{{template "application" .}}

{{define "main"}}
  <main class="signup">
    <div class="card">
      <div class="card-body">
        <h4>Signup Form</h4>
        <form action="/signup" method="POST">
          {{if .Errors}}
            <div class="form-error">
              <h5>Following error prohibited this user for being saved:</h5>
              <ul>
                {{range .Errors}}
                  <li>{{.}}</li>
                {{end}}
              </ul>
            </div>
          {{end}}

          <input type="email" name="email" id="email" placeholder="Email"/>
          <input type="password" name="password" id="password" placeholder="Password"/>
          <input type="password" name="password_confirmation" id="password_confirmation" placeholder="Password Confirmation"/>

          <input type="submit" value="Sign Up">
          <p class="message">Already registered? <a href="/signin">Sign In</a></p>
          <p><h3>Or</h3></p>

          <div id="googleSignInBtn" class="google-btn">
            <div class="google-icon-wrapper">
              <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
            </div>
            <p class="btn-text"><a href="/login-gl">Sign up with google</a></p>
          </div>
          <div id="name"></div>
        </form>
      </div>
    </div>
  </main>
{{end}}
