{{template "application" .}}

{{define "main"}}
  <main class="signin">
    <div class="card">
      <div class="card-body">
        <h4>Signin Form</h4>
        <form action="/signin" method="POST">
          {{if .Error}}
            <div class="form-error">
              <div>{{.Error}}</div>
            </div>
          {{end}}
          <input type="email" name="email" id="email" placeholder="Email"/>
          <input type="password" name="password" id="password" placeholder="Password"/>


          <input class="btn" type="submit" value="Sign In">
          <a href="/forget-password">Forget Password?</a>
          <div><a href="/signup">Sign up</a></div>
          <p><h3>Or</h3></p>

          <div id="googleSignInBtn" class="google-btn">
            <div class="google-icon-wrapper">
              <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
            </div>
            <p class="btn-text"><a href="/login-gl">Sign in with google</a></p>
          </div>
          <div id="name"></div>
        </form>
      </div>
    </div>
  </main>
{{end}}
